/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

.form{
    display: flex;
    gap: 8px;
    position: absolute;
    top: 36px;
    left: 50%;
    transform: translateX(-50%);
}

.form input {
    width: 272px;
    height: 40px;
    padding: 8px 16px;
    border: 1px solid #808080;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 24px;
    background-color: #FFFFFF;
    box-sizing: border-box;
}

.form input:hover {
  border-color: #000000; 

}
.form input:focus {
  outline: none;
 border: 1px solid #4E75FF;
 color: #2e2e2e;
}

.loader {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: none;
    border-top: 3px solid #fff;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotate 1s linear infinite;
    margin: 20px auto;
}
.loader.is-visible {
    display: inline-block;
}

.loader-text {
    text-align: center;
    font-size: 16px;
    color: #555;
    display: none;
    margin-top: 20px;
}

.loader-text.is-visible {
    display: block;
}

.form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 91px;
  height: 40px;
  background-color: #4E75FF;
  border-radius: 8px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  cursor: pointer;
}

.form button:hover {
  background: #6C8CFF;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;   
    list-style: none;
    width: 1128px;   
    margin: 108px auto 36px auto;
    padding: 0;
    box-sizing: border-box;
}

.gallery li {
    height: 200px;            
    position: relative;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 4px;
    display: block;
}

.gallery li {
    flex: 0 0 360px;  
    height: 200px;   
    position: relative;
}

.gallery li .info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 48px;          
    background: #FFFFFF;
    border-width: 0px 1px 1px 1px; 
    border-style: solid;
    border-color: #808080;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    border-radius: 0 0 4px 4px;
}

.gallery li .info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.gallery li .info-item .label {
    font-weight: 600;
    font-size: 12px;
    color: #2E2F42;
    line-height: 16px;
}

.gallery li .info-item .value {
    font-weight: 400;
    font-size: 12px;
    color: #2E2F42;
    line-height: 16px;
}
